aside .icon-cheveron-up:before {
  font-size: var(--base-space);
  border: 1px solid;
  border-radius: 50%;
  transform: rotate(-90deg);
  display: inline-block;
  transform-origin: center;
  cursor: pointer;
  position: absolute;
  top:  calc(var(--base-space) / -2);
  right: calc(var(--base-space) / -2);
  transition: all .4s ease-in-out;
  background-color: var(--white);
}
aside.collapsed .icon-cheveron-up:before {
  transform: rotate(90deg);
}