html, body {
  height: 100%;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Saira", sans-serif;
  text-shadow:0 0 1px transparent;
  text-rendering: optimizeLegibility;
  letter-spacing: .03rem;
  color: var(--secondary);
  background-color: var(--primary);
  font-size: var(--font-size-small);
}

.layout {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.layout main {
  width: calc(80% - var(--main-padding) * 2);
  padding: var(--main-padding);
}
.layout #column {
  padding: var(--main-padding);
  background: var(--darker-gray);
  position: relative;
  width: calc(20% - var(--main-padding) * 2);
  transition: all .4s ease-in-out;
}
.layout #column.collapsed {
  width: 5%;
}

#disclaimer {
  border-top: 1px solid var(--darker-gray);
  background-color: var(--lighter-gray);
  padding: var(--large-space);
  background-color: var(--rt);
  text-align: center;
  z-index: var(--disclaimer);
}

a {
  color: var(--link);
  position: relative;
}
/* a:hover {
  filter: brightness(80%);
} */
a.ext::after {
  content: '\21F1';
  transform: rotate(90deg);
  display: inline-block;
  position: relative;
  top: -3px;
  font-size: 9px;
  right: 0;
}

em, .em {
  font-weight: 500;
  font-style: italic;
}

p {
  margin: var(--small-space) 0;
  line-height: 130%;
}

small {
  font-size: 70%;
}

/* ul, ol {
  margin: var(--base-space);
  padding-left: var(--base-space);
  list-style: auto;
} */

.clear {
  clear: both;
}

.hide {
  display: none!important;
}
.show {
  display: block!important;
}

.green, .buy  {
  color: var(--green);
}
.red, .sell {
  color: var(--red);
}
.blue {
  color: var(--blue);
}

.center {
  text-align: center;
}

.update {
  font-style: italic;
  margin-bottom: var(--large-space);
}

section {
  margin-bottom: var(--xx-large-space);
}

.flex {
  display: flex;
  justify-content: space-between;
  gap: var(--main-padding);
}
.flex > div {
  width: 50%;
}

.rounded {
  background-color: var(--white);
  border-radius: var(--border-radius-small);
  padding: var(--main-padding);
  border: 1px solid var(--light-gray);
  position: relative;
}

.bullet-wrap {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin-bottom: var(--x-large-space);
  gap: var(--main-padding);
}

.list-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.list-wrapper h3 {
  margin-bottom: var(--large-space);
}
.list-wrapper > div {
  margin: var(--large-space) 0;
  width: 48%;
}

dl dt {
  font-size: var(--font-size-base);
  letter-spacing: .1rem;
  color: var(--darker-gray);
}
dl dd {
  font-size: var(--font-size-big);
  margin-left: var(--base-space);
  margin-top: var(--xx-small-space);
  margin-bottom: var(--small-space);
  font-style: italic;
}

@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
  }
  .content {
    width: auto;
  }
  .layout main {
    width: calc(64% - var(--main-padding) * 2);
  }
  .layout #column {
    width: calc(36% - var(--main-padding) * 2);
  }
  .list-wrapper {
    flex-direction: column;
  }
  .list-wrapper > div {
    width: auto;
  }
  .flex {
    flex-direction: column;
  }
  .flex > div {
    width: 100%;
  }
}

@media screen and (max-width: 430px) {
  .bullet-wrap {
    flex-direction: column;
  }
}