html, body {
  height: 100%;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Saira", sans-serif;
  text-shadow:0 0 1px transparent;
  text-rendering: optimizeLegibility;
  letter-spacing: .03rem;
  color: var(--secondary);
  background-color: var(--primary);
  font-size: var(--font-size-small);
}

.layout {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.layout main {
  width: 100%;
  padding: var(--main-padding);
}
.layout #column {
  padding: var(--main-padding);
  background: var(--black);
  position: relative;
  width: 20%;
  transition: all .4s ease-in-out;
}
.layout #column.collapsed {
  width: 5%;
}

#disclaimer {
  border-top: 1px solid var(--darker-gray);
  background-color: var(--lighter-gray);
  padding: var(--large-space);
  background-color: var(--rt);
  text-align: center;
  z-index: var(--disclaimer);
}

a {
  color: var(--link);
  position: relative;
}
/* a:hover {
  filter: brightness(80%);
} */
a.ext::after {
  content: '\21F1';
  transform: rotate(90deg);
  display: inline-block;
  position: relative;
  top: -3px;
  font-size: 9px;
  right: 0;
}

em, .em {
  font-weight: 500;
}

p {
  margin: var(--x-small-space) 0;
  line-height: 130%;
}

small {
  font-size: 70%;
}

/* ul, ol {
  margin: var(--base-space);
  padding-left: var(--base-space);
  list-style: auto;
} */

.clear {
  clear: both;
}

.hide {
  display: none!important;
}
.show {
  display: block!important;
}

.green, .buy  {
  color: var(--green);
}
.red, .sell {
  color: var(--red);
}
.blue {
  color: var(--blue);
}

.center {
  text-align: center;
}

section {
  margin-bottom: var(--xx-large-space);
  > div {
    margin: var(--x-large-space) 0;
  }
}

.flex {
  display: flex;
  justify-content: space-between;
  gap: var(--main-padding);
  > div {
    width: 50%;
  }
}

.rounded {
  background-color: var(--white);
  border-radius: var(--border-radius-big);
  padding: var(--main-padding);
  border: 1px solid var(--light-gray);
  position: relative;
}

.bullet-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--main-padding);
}


@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
  }
  .content {
    width: auto;
  }
}