h1 {
  font-family: "Encode Sans", sans-serif;
  font-size: var(--font-size-bigger);
  color: var(--black);
  letter-spacing: .15rem;
  font-weight: 500;
  margin-bottom: var(--x-large-space);
}
h2 {
  font-family: "Encode Sans", sans-serif;
  font-size: var(--font-size-big);
  color: var(--black);
  font-weight: 500;
  letter-spacing: .1rem;
  margin-bottom: var(--small-space);
}
h3 {
  font-family: "Encode Sans", sans-serif;
  font-size: var(--font-size-base);
  color: var(--black);
  font-weight: 500;
  letter-spacing: .1rem;
  margin-bottom: var(--small-space);
}
h4 {
  font-family: "Encode Sans", sans-serif;
  font-size: var(--font-size-base);
  color: var(--black);
}
