h1 {
  font-size: var(--font-size-huge);
  letter-spacing: .15rem;
  font-weight: 500;
  margin-bottom: var(--large-space);
}
h2 {
  font-size: var(--font-size-bigger);
  font-weight: 500;
  letter-spacing: .1rem;
  margin-bottom: var(--base-space);
}
h3 {
  font-size: var(--font-size-big);
  font-weight: 500;
  letter-spacing: .1rem;
}
h4 {
  font-size: var(--font-size-big);
}
