.cmp-card-slotted-img {
  width: 100%;
}

.cmp-navigation-slotted-li {
  
}
.cmp-navigation-slotted-li:hover {
  background-color: var(--darkest-gray);
  box-shadow: inset 5px 0 0 var(--blue);
}
.cmp-navigation-slotted-a {
  color: var(--white);
  text-decoration-color: var(--gray);
  display: block;
  padding: var(--x-small-space) var(--small-space) var(--x-small-space);
}