
#main-logo {
  font-size: var(--font-size-biggest);
  font-family: "Orbitron", sans-serif;
  font-weight: 700;
  padding-bottom: var(--main-padding);
}

#main-logo a span {
  letter-spacing: 2px;  
  font-weight: 100;
}

#main-logo img {
  height: 4rem;
  width: auto;
  vertical-align: middle;
  margin-right: var(--main-padding);
}

@media screen and (max-width: 768px) {
  #main-logo {
    font-size: var(--font-size-huge);
  }
  #main-logo span {
    letter-spacing: normal
  }
  #main-logo img {
    height: 2.7rem;
  }
}