#main-menu {
  align-self: flex-end;
}

#main-menu li {
  display: inline-block;
  margin: 0 2px;
  background-color: var(--darkest-gray);
  background: linear-gradient(360deg, var(--darkest-gray) 66%, rgba(85, 85, 85, 1) 90%, rgba(136, 136, 136, 1) 100%);
  border-top-left-radius: var(--border-radius-small);
  border-top-right-radius: var(--border-radius-small);
}
#main-menu li a {
  display: block;
  padding: var(--main-padding) calc(var(--main-padding) * 3);
  font-weight: 500;
  text-transform: uppercase;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#main-menu li.active, #main-menu li:hover {
  background: var(--primary);
  a {
    color: var(--secondary);
  }
}
#main-menu ul {
  margin: 0;
  padding-left: 0;
}

#main-menu li.active a {
  text-decoration: underline;
  font-weight: bold;
}

#main-menu .close, .hamburger {
  display: none;
}
.hamburger {
  font-size: var(--font-size-huge);
  color: var(--primary);
}

@media screen and (max-width: 1280px) {
  #main-menu li a {
    padding: var(--main-padding) calc(var(--main-padding) * 2);
  }
}

@media screen and (max-width: 1024px) {
  #main-menu li a {
    padding: var(--main-padding) calc(var(--main-padding) * 1);
  }
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
    font-size: var(--font-size-huge);
  }
  #main-menu li {
    background: transparent;
  }
  #main-menu li a {
    color: var(--secondary);
  }
  #main-menu {
    position: fixed;
  }
  #main-menu > div {
    top: 7rem;
    width: 35ch;
    right: -35ch;
    position: fixed;
    transition: right .4s ease-out;
    background-color: var(--primary);
    z-index: var(--main-menu);
  }
  #main-menu.show > div{
    right: 0;
    box-shadow: 0 0 10px 0 var(--black);
  }
  #main-menu.show {
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: var(--main-menu);
  }
  #main-menu .close {
    position: absolute;
    right: 0;
    display: block;
    padding: var(--normal-space);
    font-weight: bold;
    font-size: var(--font-size-big);
  }
  #main-menu ul {
    padding: var(--xx-large-space) var(--xx-large-space);
  }
  #main-menu li {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--light-gray);
    padding: var(--small-space) 0;
    max-width: 33ch;
    text-align: right;
  }
  #main-menu li a {
    padding: var(--normal-space) 0;
    display: inline-block;
    width: 100%;
  }
}

