@import "./main-logo/main-logo.css";
@import "./main-menu/main-menu.css";

#header {
  padding: var(--main-padding);
  padding-bottom: 0;
  /* border-bottom: 1px solid var(--light-gray); */
  background: var(--secondary);
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header a {
  color: var(--primary);
  text-decoration: none;
}
#header a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  #header {

  }
}
