main.hp .rounded:nth-child(1), main.hp .rounded:nth-child(2) {
  background: linear-gradient(22deg,rgba(232, 246, 255, 0.15) 70%, rgba(63, 101, 128, 0.15) 100%);
  border-color: var(--blue);
  &::after {
    content: ' ';
    opacity: .4;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 3.6rem;
    height: 4.5rem;
    width: 4.5rem;
    position: absolute;
    top: 0;
    right: 0;
  }
}
main.hp .rounded:nth-child(1)::after {
  background-image: url('/assets/images/logo.webp');
}
main.hp .rounded:nth-child(2)::after {
  background-image: url('/assets/images/updown.webp');
}

main.hp #cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--main-padding);
  .card {
    margin-bottom: var(--main-padding);
  }
}

main.hp #worsts {
  flex-direction: row-reverse;
}