#stock-details {
  justify-content: space-between;
}
#stock-performance {
  justify-content: space-evenly;
}

#stock .details div {
  justify-content: flex-start;
  gap: var(--xx-large-space);
}

#stock .lastmod {
  color: var(--dark-gray);
  margin-bottom: var(--large-space);
  display: block;
}

#stock #stock-graph {
  max-width: 800px;
}

@media screen and (max-width: 768px) {
  #stock .details div {
    flex-direction: column;
  }
  #stock-graph {
    width: 100%;
  }
}